.item{
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-name{
    margin:0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.item-price{
    margin:0;
    margin-bottom: 5px;
    padding:0;
}

.remove-btn{
    margin:0;
    margin-bottom: 5px;
    width: 100%;
    height: 25px;
    background-color: #FCB414;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
}