<div class="remove-page">
    <h1 class="remove-title">Search For List Set by ID to Delete</h1>
    <h2 class="remove-sub-title">Enter the ID</h2>
    <div class="remove-input-form">
        <input class="remove-input" [(ngModel)] = "id" placeholder="Tracker ID"/>
        <button class="remove-btn" (click)="delete()" [disabled]="!id">Search</button>
    </div>
    <div *ngIf="searched">
        <div *ngIf="deleted; else elseBlock">
            <h2 class="found remove-sub-title">List Deleted Successfully</h2>
        </div>
        <ng-template #elseBlock>
            <h2 class="not-found remove-sub-title" >List Set Not Found</h2>
        </ng-template>
    </div>
</div>
