.remove-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ededed;
    height: calc(100% - 80px);
}

.remove-title {
    margin: 0;
    padding: 0;
    font-size: 64px;
    font-weight: 600;
}

.remove-sub-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 48px;
}

.remove-input-form{
    width: fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.remove-input {
    font-size: 24px;
    padding: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.remove-btn {
    width: 100%;
    height: 50px;
    background-color: #F26925;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

.remove-btn:hover:not([disabled]){
    cursor: pointer;
    background-color: #FCB414;
}

.found {
    color: #474C55;
}

.not-found{
    color: red;
}