<div class="new-item">
    <h2 *ngIf="error; else elseBlock" class="new-instructions">Please Input Both Values</h2>
    <ng-template #elseBlock>
        <h2 class="new-instructions">Input A New Item</h2>
    </ng-template>
    <p class="new-label">Item Name</p>
    <input class="new-input" [(ngModel)] = "name" [ngClass]="error ? 'invalid' : 'valid'"/>
    <p class="new-label">Item Price</p>
    <input class="new-input" [(ngModel)] = "price" type="number" step="0.01" [ngClass]="error ? 'invalid' : 'valid'" />
    <button class="new-btn" (click)="addItem()">Add Item</button>
</div>