.new-item{
    width: 100%;
    margin-top: 5px;
}

.new-btn{
    width: 100%;
    height: 30px;
    background-color: #72A4C2;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.new-btn:hover{
    background-color: #F26925;
    color: black;
}

.new-input{
    box-sizing: border-box;
    width: 100%;
    font-size: 24px;
    margin: 0;
    outline: none;
    padding-left: 5px;
}

.new-instructions{
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

.new-label{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}