<div class="new-list">
    <h1 class="new-list-title">Create a new grocery list</h1>
    <p class="new-list-tip">Include a Tracker ID to add list to an existing tracker.</p>
    <form class="list-form" [formGroup]="listForm" (ngSubmit)="onSubmit()">
        <div class="list-input-group">
            <label class="list-label" for="tracker-id">Tracker ID:</label>
            <input class="new-list-input" id="tacker-id" type="text" formControlName="id" placeholder="Empty Creates New Tracker">
            <p *ngIf="error">Invalid Tracker Id</p>
        </div>
        <div class="list-input-group">
            <label class="list-label" for="list-name">List Name:</label>
            <input class="new-list-input" id="list-name" type="text" formControlName="name" placeHolder="List Name Required" required>
        </div>
        <input class="new-list-btn" type="submit" value="Create New List" [disabled]="!listForm.valid">
    </form>
</div>