.new-list {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-list-title {
    font-size: 64px;
    font-weight: 600;
}

.new-list-tip {
    font-size: 24px;
    margin-bottom: 10px;
}

.list-form {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
}

.list-input-group {
    margin-bottom: 20px;
}

.new-list-input{
    font-size: 24px;
    padding: 5px;
    border: none;
    outline: none;
}

.list-label {
    margin-right: 5px;
    font-size: 24px;
}

.new-list-btn {
    width: 100%;
    height: 50px;
    background-color: #72A4C2;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

.new-list-btn:hover:not([disabled]){
    cursor: pointer;
    background-color: #F26925;
}