.navbar {
    width: 100%;
    height: 80px;
    background-color:  #F26925;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item-effect:hover {
    background-color: #72A4C2;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
}