<div class="navbar">
    <div class="nav-item nav-item-effect">
        <a class="nav-link" routerLink="/create">
            Create New List
        </a>
    </div>
    <div class="nav-item nav-item-effect">
        <a class="nav-link" routerLink="/search">
            Find List Set by ID
        </a>
    </div>
    <div class="nav-item">
        <a class="nav-link" routerLink="/remove">
            Remove List Set
        </a>
    </div>
</div>
