/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ededed;
    height: calc(100% - 80px);
    width: 100%;
}

list-item {
    width: 100%;
}

list {
    max-height: 500px;
    width: 20%;
}

new-item{
    width: 100%;
}