.tracker-info{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px;
}

.tracker-id {
    font-size: 32px;
    margin-bottom: 10px;
}

.tracker-owner {
    font-size: 30px;
    margin-bottom: 10px;
}

.tracker-lists{
    font-size: 28px;
    margin-bottom: 10px;
}

.tracker-link{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.tracker-link:hover{
    color: #F26925;
    text-decoration: underline;
}

.launch-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
}