<div class="tracker-info">
    <h2 class="tracker-id">List Set ID: {{tracker.id}}</h2>
    <h2 class="tracker-owner">List Owner: {{tracker.owner}}</h2>
    <h2 class="tracker-lists">Number of Lists: {{tracker.lists.length}}</h2>
    <a class="tracker-link" routerLink="/lists/{{tracker.id}}">
        Link to List
        <mat-icon class="launch-icon">launch</mat-icon>
    </a>
</div>