.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ededed;
    height: calc(100% - 80px);
}

.welcome-header {
    font-size: 72px;
    font-weight: 800;
}

.welcome-message {
    font-size: 48px;
    text-decoration: none;
    color: black;
}

.welcome-message:hover {
    color: #F26925;
}