<div class="list">
    <div class="list-container">
        <h1 class="list-h1">{{list.name}}</h1>
        <h3 class="list-h3">List Total: {{total | currency}}</h3>
        <new-item *ngIf="addToggle; else elseBlock" (onAddItem)="addItem($event)"></new-item>
        <ng-template #elseBlock>
            <button class="toggle-btn"(click)="toggleAdd()">Add New Item</button>    
        </ng-template>
        <div class="list-border"></div>
        <list-item *ngFor="let item of list.items" [item]="item" (onRemoveItem)="removeItem($event)"></list-item>
    </div>
</div>