.list{
    max-height: 500px;
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid gray;
    border-radius: 2%;
    padding: 40px;
}

.list-container {
    width: 100%;
    margin-top:auto;
}

.list-h1 {
    margin: 0;
    padding: 0;
}

.list-h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    width: 100%;
}

.list-border{
    width: 100%;
    border-bottom: 1px solid gray;
}

.toggle-btn{
    width: 100%;
    height: 30px;
    background-color: #72A4C2;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.toggle-btn:hover{
    background-color: #F26925;
    color: black;
}