<div class="search-page">
    <h1 class="search-title">Search For List Set by ID</h1>
    <h2 class="search-sub-title">Enter the ID</h2>
    <div class="search-form">
        <input class="search-input" [(ngModel)] = "id" placeholder="Tracker ID"/>
        <button class="search-btn" (click)="search()">Search</button>
    </div>
    <div *ngIf="searched">
        <div *ngIf="found; else elseBlock">
            <tracker-info [tracker]="tracker"></tracker-info>
        </div>
        <ng-template #elseBlock>
            <h2 class="search-sub-read not-found">List Set Not Found!</h2>
        </ng-template>
    </div>
</div>
