.create-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ededed;
    height: calc(100% - 80px);
    width: 100%;
}