<div class="page-container">
    <div *ngIf="editing; else elseBlock" class="name-group">
        <h1 class="list-welcome">Welcome</h1>
        <input type="text" value="{{user}}" [(ngModel)] = "user" class="user-name-input" size="{{user.length}}"/>
        <div class="done-div">
            <mat-icon class="done-icon" (click)="updateUser()">done</mat-icon>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="name-group">
            <h1 class="list-welcome">Welcome {{user}}</h1>
            <mat-icon class="edit-icon" (click)="toggleEditOwner()">create</mat-icon>
        </div>
    </ng-template>
    <h3 class="tracker-id">Your Tracker ID: {{id}}</h3>
    <p class="list-tip">Use your tracker ID to create new lists in this tracker, and to load your lists after closing the browser.</p>
    <div class="lists">
        <list *ngFor="let list of tracker.lists" [list]="list" [trackerId]="tracker.id"></list>
    </div>
</div>
