.user-name-input{
    font-size: 64px;
    outline: none;
    border: none;
    background-color: #ededed;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 600;
    margin-left: 10px;
}

.done-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    background-color: chartreuse;
    margin-left: -75px;
    border-radius: 20%;
    border: 2px solid green;
}

.done-div:hover{
    background-color: green;
    border: 2px solid chartreuse;
}

.done-icon{
    color: green;
    font-size: 40px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.done-icon:hover{
    color:chartreuse;
}

.name-group {
    display: flex;
    align-items: center;
}

.edit-icon {
    height: 48px;
    width: 48px;
    font-size: 48px;
    cursor: pointer;
}

.edit-icon:hover{
    color: #F26925;
}

.list-welcome {
    margin: 0;
    padding: 0;
    font-size: 64px;
    font-weight: 600;
}

.tracker-id {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 400;
}

.list-tip{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}

.lists{
    height: fit-content;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.single-list{
    width: 20%;
}